:root {
    --primary-dark: hsl(233, 47%, 7%);
    --primary: hsl(244, 38%, 16%);
    --secondary: hsl(277, 64%, 61%);
    --neutral: hsl(0, 0%, 100%);
    --neutral-transparent-1: hsla(0, 0%, 100%, 0.75);
    --neutral-transparent-2: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: var(--neutral);
    min-height: 100vh;
    background-color: var(--primary-dark);
}

main {
    max-width: 600px;
    z-index: 1;
    display: flex;
    margin: 1em;
}

section {
    display: flex;
    flex-direction: column;
    padding: 5.85em 7em 5.85em 5.85em;
    width: 570px;
    min-width: 300px;
    background-color: var(--primary);
    border-radius: 10px 0 0 10px;
}

section h1 {
    color: var(--neutral);
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.75em;
}

section h1 span {
    color: var(--secondary);
}

.text-component {
    margin-right: 2em;
}

.description {
    color: var(neutral-transparent-1);
    line-height: 1.5em;
    margin-bottom: 5em;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    letter-spacing: 1px;
}

ul h2 {
    color: var(--neutral);
    margin-bottom: 0.3em;
}

section ul p {
    font-family: "Lexend Deca", sans-serif;
    color: var(--neutral-transparent-2);
    text-transform: uppercase;
    font-size: 0.75rem;
}


.img-component {
    min-height: 10em;
    width: 540px;
    min-width: 200px;
    background: url("images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.overlay {
    background-color: var(--secondary);
    opacity: .42;
    height: 100%;
}

.attribution {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.75rem;
    line-height: 20px;
    color: var(--neutral-transparent-2);
}

.attribution a {
    text-decoration: none;
    color: var(--neutral-transparent-1);
    font-weight: 700;
}

.attribution a:hover {
    color: var(--secondary);
}

@media only screen and (max-width: 1440px) {
    :root {
        font-size: 12px;
    }

    section {
        padding: 3em 4.5em 3em 3em;
    }
}

@media only screen and (max-width: 625px) {
    body {
        flex-direction: column;
    }

    main {
        flex-direction: column-reverse;
        margin: 10px;
        min-width: 200px;
        margin-top: 5em;
    }

    section {
        padding: 0;
        padding: 3em;
        width: 300px;
        border-radius: 0 0 10px 10px;
    }

    section h1,
    section .text-component {
        text-align: center;
    }

    section .text-component {
        font-size: 1.1rem;
        margin-bottom: 2em;
        line-height: 1.75em;
    }

    section .description {
        margin-right: 0;
    }

    section ul {
        flex-direction: column;
        align-items: center;
    }

    section ul li {
        margin-bottom: 2em;
    }

    section ul h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0.25em;
    }

    section ul p {
        font-size: 1.05rem;
    }

    .img-component {
        height: 220px;
        width: 300px;
        border-radius: 10px 10px 0 0;
        background: url("images/image-header-mobile.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .attribution {
        position: relative;
        margin-top: 20px;
    }
}